github "njdehoog/swift-hoedown" == 0.1.3
github "njdehoog/swift-yaml" == 0.1.3
github "njdehoog/Witness" == 0.1.2
github "sagmor/GCDWebServer" "frameworks"
github "njdehoog/swift-sass" == 0.1.1
github "njdehoog/PathKit" "carthage"
github "Carthage/Commandant"
